@model IEnumerable<Estudo_MVC_1.Models.Pedido_Model>

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Cadastro de Pedido", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProdutos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdProdutos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desconto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th></th>
    </tr>

    @*@foreach (var item in Model) {*@
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Data)*@
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.IdProdutos)*@
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.QtdProdutos)*@
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.IdCliente)*@
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Valor)*@
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Desconto)*@
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.ValorTotal)*@
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.IdPedido }) |
                @Html.ActionLink("Details", "Details", new { id=item.IdPedido }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdPedido })*@
        </td>
    </tr>
    @* } *@

</table>
